### TeX ###
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.docs
*.pyc
*.html
## Intermediate documents:
*.dvi
*-converted-to.*

### Editor ###
## Vim & Emacs temp files:
*.sublime-project
*.sublime-workspace
settings.json
tasks.json
*.code-workspace
*.swp

### directory ###
p2_data
temp